body {
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    font-family: Arial, sans-serif;
}

.logo {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
}


.card {
    background: white;
    width: 320px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.timer {
  font-size: 14px;
  color: #444;
  margin: 10px 0;
}


.members {
    background: #eee;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 14px;
}

.btn {
    display: block;
    margin-top: 15px;
    padding: 14px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

